$COLOR_WHITE: rgb(255, 255, 255);
$COLOR_WHITE_VARIATION: rgb(247, 247, 247);



$COLOR_BLACK: rgb(0, 0, 0);
$COLOR_GREY1: rgb(51, 51, 51);
$COLOR_GREY2: rgb(247, 252, 251);

$COLOR_HIGHLIGHT: rgb(25, 209, 166);  